{{- if eq .chezmoi.hostname "arkenstone" -}}
android-sdk-platform-tools
android-studio
android-udev
bazel
cuda
cuda-9.2
cudnn
cudnn6
docker
intellij-idea-ultimate-edition
nvidia
openrazer-meta
python-ipython
python-pip
python-sonnet
python-sonnet-git
python-tensorflow-cuda
python-tensorflow-opt-cuda
python-tqdm
python-virtualenv
raccoon
tensorflow
tensorflow-cuda
qemu
libvirt
ebtables
dnsmasq
bridge-utils
openbsd-netcat
virt-manager
ansible
terraform
tcpdump
wireshark
cloud-utils
dmidecode
texlive-most
texlive-lang
{{- end -}}
{{- if eq .chezmoi.hostname "stone" -}}
cups
hplip
ifplugd
nvidia-390xx
simple-scan
{{- end }}
{{- if eq .chezmoi.hostname "DA31-AP2-S01" -}}
docker
lvm2
man-db
man-pages
qemu
libvirt
ebtables
dnsmasq
bridge-utils
netcat
virt-manager
ansible
terraform
tcpdump
wireshark
cloud-utils
dmidecode
kubernetes-helm
{{- end }}
acpi
alsa
alsa-utils
anaconda
anki
autojump
base-devel
bat
calibre
cgdb
chezmoi
clang
cmake
cryptsetup
dhcpcd
diffutils
direnv
dmenu
dos2unix
dunst
exa
exfat-utils
feh
filezilla
firefox
freerdp
fzf
ghostscript
gimp
git-lfs-bin
google-chrome
graphviz
gvim
highlight
htop
httrack
i3-wm
i3lock
i3status
ibus-mozc
imagemagick
inkscape
inotify-tools
insomnia
intel-ucode
ipython
jdk-openjdk
jpegoptim
kakasi
keepassx2
keybase-bin
krita
libreoffice-fresh
libu2f-host
linux-headers
lsyncd
mecab-ipadic
mediainfo
minicom
ncdu
ncurses
neovim
netctl
nfs-utils
nmap
ntfs-3g
numlockx
nvidia-settings
obs-studio
okular
openldap
openscad
openssh
openvpn
optipng
otf-ipafont
p7zip
package-query
pacman-contrib
pavucontrol
pciutils
pdf-redact-tools
php
pick
platformio
pngquant
postgresql
postgresql-old-upgrade
powerline-fonts-git
pulseaudio
pulseaudio-alsa
pulsemixer
pwgen
ranger
redshift
reflector-timer
remmina
rsync
screen
sedutil
spectacle
spotify
sshfs
sxiv
sysstat
systemd-boot-pacman-hook
termite
tree
ttf-font-awesome
ttf-google-fonts-git
tuxboot
unrar
unzip
usbmuxd
veracrypt
vlc
wget
wmfocus
x11-ssh-askpass
xclip
xf86-input-synaptics
xf86-input-wacom
xfsprogs
xorg-server
xorg-xbacklight
xorg-xinit
xorg-xmodmap
xorg-xrandr
yay
zip
zsh
etc-update
logkeys
