export ZSH=$HOME/.oh-my-zsh

ZSH_THEME="miloshadzic"
DISABLE_UNTRACKED_FILES_DIRTY="true"

plugins=(
  git
  battery
  extract
  encode64
  gitignore
  wakeonlan
  ssh-agent
  vi-mode)

source $ZSH/oh-my-zsh.sh

# User configuration

export PATH="/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl:$PATH"


# Preferred editor for local and remote sessions
if [[ -z $SSH_CONNECTION ]]; then
  export EDITOR='nvim'
else
  export EDITOR='vim'
fi

alias zshconfig="chezmoi edit ~/.zshrc"
alias vimconfig="chezmoi edit ~/.vimrc"
alias nvimconfig="chezmoi edit ~/.config/nvim/init.vim"
alias sshconfig="chezmoi edit ~/.ssh/config"
alias pdfcompress='function _pdfcompress() { gs -sDEVICE=pdfwrite -dCompatibilityLevel=1.4 -dPDFSETTINGS=/screen -dNOPAUSE -dQUIET -dBATCH -sOutputFile=$2 $1; };_pdfcompress'
alias coa="conda activate"
alias cod="conda deactivate"
alias ssha='find ~/.ssh/ -type f | grep -v ".*\.pub\|config\|known_hosts" | pick | xargs ssh-add'
alias e="exa -alh"

export PATH="$PATH:$HOME/.cargo/bin"

zstyle :omz:plugins:ssh-agent agent-forwarding on

export SCIKIT_LEARN_DATA="$HOME/Research/.scikit_learn_data"

bindkey -v
export KEYTIMEOUT=1

source /usr/share/fzf/key-bindings.zsh
source /usr/share/fzf/completion.zsh

eval "$(direnv hook zsh)"

source /etc/profile.d/autojump.zsh

# Local executables
export PATH="$PATH:$HOME/.local/bin"

# added by travis gem
[ -f /home/arccha/.travis/travis.sh ] && source /home/arccha/.travis/travis.sh

export GOPATH="$HOME/.go"

{{ if eq .chezmoi.hostname "DA31-AP2-S01" -}}
export TF_VAR_ssh_key_pub=$(cat ~/.ssh/work.pub)
export SSH_PUB_KEY=$(cat ~/.ssh/work.pub)
{{ end -}}

alias t="terraform"
alias clip="xclip -selection clipboard -t image/png -i " 
export DOCKER_BUILDKIT=1

alias pshell="podman exec -it $(podman ps | head -n2 | tail -n1 | cut -d' ' -f1) /bin/bash"

PATH=$PATH:/home/ap2/.local/share/gem/ruby/3.0.0/bin

export ANSIBLE_VAULT_IDENTITY_LIST=prod@~/.ansible/vault-prod-pass.txt,sbx@~/.ansible/vault-sbx-pass.txt,certs@~/.ansible/vault-certs-pass.txt,old@~/.ansible/vault-old-pass.txt
export ANSIBLE_VAULT_ENCRYPT_IDENTITY=prod

