export ZSH=$HOME/.oh-my-zsh

ZSH_THEME="miloshadzic"
DISABLE_UNTRACKED_FILES_DIRTY="true"

plugins=(
  git
  battery
  extract
  encode64
  git
  gitignore
  wakeonlan
  ssh-agent
  vi-mode)

source $ZSH/oh-my-zsh.sh

# User configuration

export PATH="/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl:$PATH"


# Preferred editor for local and remote sessions
if [[ -z $SSH_CONNECTION ]]; then
  export EDITOR='vim'
  export TERM='xterm'
else
  export EDITOR='vim'
  #export TERM='xterm'
fi

alias zshconfig="chezmoi edit ~/.zshrc"
alias vimconfig="chezmoi edit ~/.vimrc"
alias sshconfig="chezmoi edit ~/.ssh/config"
alias pdfcompress='function _pdfcompress() { gs -sDEVICE=pdfwrite -dCompatibilityLevel=1.4 -dPDFSETTINGS=/screen -dNOPAUSE -dQUIET -dBATCH -sOutputFile=$2 $1; };_pdfcompress'
alias coa="conda activate"
alias cod="conda deactivate"
alias ssha='find ~/.ssh/ -type f | grep -v ".*\.pub\|config\|known_hosts" | pick | xargs ssh-add'
alias e="exa -alh"

#export RUST_SRC_PATH=/home/arccha/programowanie/rust/rust/src
#export CARGO_HOME=/home/arccha/.cargo
export PATH="$PATH:$HOME/.cargo/bin"

export PATH="$HOME/.rvm/bin:$PATH" # Add RVM to PATH for scripting
[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm"

zstyle :omz:plugins:ssh-agent agent-forwarding on

export SCIKIT_LEARN_DATA="$HOME/Research/.scikit_learn_data"

bindkey -v
export KEYTIMEOUT=1

source /usr/share/fzf/key-bindings.zsh
source /usr/share/fzf/completion.zsh

eval "$(direnv hook zsh)"

# Composer global packages
export PATH="$PATH:$HOME/.config/composer/vendor/bin"

source /etc/profile.d/autojump.zsh

# Local executables
export PATH="$PATH:$HOME/.local/bin"

{{ if ne .chezmoi.hostname "DA31-AP2-S01" -}}
# Conda
source /opt/anaconda/etc/profile.d/conda.sh
{{- end -}}

# added by travis gem
[ -f /home/arccha/.travis/travis.sh ] && source /home/arccha/.travis/travis.sh

export GOPATH="$HOME/.go"

{{ if eq .chezmoi.hostname "DA31-AP2-S01" -}}
export TF_VAR_ssh_key_pub=$(cat ~/.ssh/work.pub)
export SSH_PUB_KEY=$(cat ~/.ssh/work.pub)
{{ end -}}

alias k="kubectl"
alias t="terraform"
alias clip="xclip -selection clipboard -t image/png -i " 
export DOCKER_BUILDKIT=1
