{{- if eq .chezmoi.hostname "arkenstone" }}
adb
android-studio
android-udev
bazel
cuda
cuda-9.2
cudnn
cudnn6
intellij-idea-ultimate-edition
nvidia
openrazer-meta
python-ipython
python-pip
python-sonnet
python-sonnet-git
python-tensorflow-cuda
python-tensorflow-opt-cuda
python-tqdm
python-virtualenv
raccoon
tensorflow
tensorflow-cuda
{{- end }}
{{- if eq .chezmoi.hostname "stone" }}
hplip
ifplugd
nvidia-390xx
{{- end }}
acpi
alsa
alsamixer
alsa-utils
anaconda
anki
autojump
base-devel
bat
calibre
cgdb
chezmoi
clang
cmake
cryptsetup
cups
dhcpd
direnv
dmenu
dos2unix
dunst
exa
exfat-utils
fcitx-im
fcitx-mozc
feh
filezilla
firefox
fzf
ghostscript
gimp
git-lfs-bin
google-chrome
graphviz
gvim
highlight
htop
httrack
i3-easyfocus-git
i3lock
i3status
i3-wm
ibus-mozc
imagemagick
inkscape
inotify-tools
insomnia
ipython
jdk-openjdk
jpegoptim
kakasi
kanjistrokeorders-ttf
kcm-fcitx
keepassx2
keybase-bin
krita
ldapsearch
libform
libreadline
libreoffice-fresh
libu2f-host
linux-headers
lsyncd
mecab-ipadic
mediainfo
minicom
miniterm
mpv
ncdu
ncurses
neovim
nfs-utils
nmap
ntfs-3g
numlockx
nvidia-settings
obs
obs-studio
okular
openldap
openscad
openssh
openvpn
optipng
otf-ipafont
p7zip
package-query
pacman
pacman-contrib
pavucontrol
pciutils
pdf-redact-tools
pdftk-bin
php
pick
platformio
pngquant
postgresql
postgresql-old-upgrade
powerline-fonts-git
pulseaudio
pulseaudio-alsa
pulsemixer
pwgen
ranger
rdesktop
readline
redshift
reflector-timer
remmina
rsync
screen
sedutil
simple-scan
spectacle
spotify
stlink
sudo
sxiv
sysstat
systemd-boot-pacman-hook 
termite
tk
tree
ttf-font-awesome
ttf-google-fonts-git
tuxboot
unrar
unzip
usbmuxd
vconsole
veracrypt
virtualenv
vlc
wget
x11-ssh-askpass
xclip
xf86-input-synaptics
xf86-input-wacom
xfsprogs
xorg-server
xorg-xbacklight
xorg-xinit
xorg-xmodmap
xorg-xrandr
xrandr
yay
zip
zsh
