* {
  border: none;
  border-radius: 0;
  font-family: "Inconsolata Nerd Font Mono", "Noto Sans Mono CJK JP", "Symbols Nerd Font Mono";
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: #002b36;
  color: #93a1a1;
}

#workspaces button {
  padding: 0 12px;
  background: #002b36;
  color: #93a1a1;
}

#workspaces button.focused {
  background: #859900;
  color: #fdf6e3;
}

#workspaces button.urgent {
  background: #d33682;
  color: #fdf6e3;
}

#mode {
  padding: 0 12px;
  background: #dc322f;
  color: #fdf6e3;
}

#window,
#pulseaudio,
#network,
#cpu,
#memory,
#disk,
#tray,
#clock {
  padding: 0 10px;
}

#pulseaudio.muted,
#network.disconnected {
  color: #586e75;
}
